button {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  border: 0;
  box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1),
    0px 2px 2px rgba(81, 41, 10, 0.2);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(238, 194, 105, 1) 0%,
    rgba(242, 245, 163, 1) 100%
  );
}

button:hover {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(230, 47, 108) 0%,
    rgb(230, 29, 96) 100%
  );

  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align-last: center;
  flex-direction: column;
}

.bar {
  width: 35%;
}
@media (max-width: 991px) {
  .bar {
    width: 100%;
    height: auto;
  }
}